/.vscode
/main
/stepik1.3_1
/stepik1.3_10
/stepik1.3_11
/stepik1.3_12
/stepik1.3_13
/stepik1.3_14
/stepik1.3_2
/stepik1.3_3
/stepik1.3_4
/stepik1.3_5
/stepik1.3_6
/stepik1.3_7
/stepik1.3_8
/stepik1.3_9
/stepik1.4.1
/stepik1.4_10
/stepik1.4_11
/stepik1.4_12
/stepik1.4_13
/stepik1.4_2
/stepik1.4_3
/stepik1.4_4
/stepik1.4_5
/stepik1.4_6
/stepik1.4_7
/stepik1.4_8
/stepik1.4_9
/test